{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src=
"https://cdn.tailwindcss.com">
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>SWP Calculator</title>
  <link rel="icon" type="image/x-icon" href="{% static 'br-logo.svg' %}">

  {% tailwind_css %}
</head>
<script>
  function toggleMenu() {
    const container = document.getElementById('profile_icon');
    container.classList.toggle('hidden');
  }
  function toggleDB() {
    const container = document.getElementById('db-title');
    container.classList.toggle('hidden');
  }
</script>
<style>
  .slide-in {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .slide-in.visible {
      opacity: 1;
      transform: translateY(0);
  }

  .slide-in:hover {
      transform: scale(1.05);
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  .text-zoom {
      transition: transform 0.3s ease, color 0.3s ease; /* Add color transition for smoother color change */
  }
  
  .text-zoom:hover {
      transform: scale(1.03); /* Adjust the scale value as needed */
      color: #000000;
  }
  
</style>
<script>
  const slideInElements = document.querySelectorAll('.slide-in');

  const isElementInViewport = (element) => {
      const rect = element.getBoundingClientRect();
      return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
  };

  const handleScroll = () => {
      slideInElements.forEach((element) => {
          if (isElementInViewport(element)) {
              element.classList.add('visible');
          }
      });
  };

  window.addEventListener('scroll', handleScroll);
  handleScroll(); // Check initial state on page load
</script>
<body>
  <!--
  This example requires updating your template:

  
  <html class="h-full bg-gray-100">
  <body class="h-full">
  
-->
<div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 justify-center">
  <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
<div class="flex flex-wrap items-center gap-x-4 gap-y-2">
  <a href="#" id="gainersBtn" class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900"> <span aria-hidden="true">&larr;</span></a>
  <p id="textContent" class="text-sm leading-6 text-gray-900">
    <strong class="font-semibold">Top Gainers</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Join us in Denver from June 7 – 9 to see what’s coming next.
  </p>
  <a href="#" id="losersBtn" class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900"> <span aria-hidden="true">&rarr;</span></a>
</div>

<!-- ... (other code) ... -->
</div>

<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button onclick="toggleDB()" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.
  
            Menu open: "hidden", Menu closed: "block"
          -->
          <svg  class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.
  
            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src="{% static 'br-logo.svg' %}" alt="Your Company">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <!-- <a href="" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a> -->
            <a href="spc" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">SPC</a>
            <a href="topsis" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Topsis</a>
            <a href="user" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Dashboard</a>
            <a href="quiz" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Risk Cal.</a>
            <a href="feature" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Financial Assistant</a>
  
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
          </svg>
        </button>
  
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button onclick="toggleMenu()"  type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="{% static 'br-logo.svg'%}" alt="">
            </button>
          </div>
  
          <!--
            Dropdown menu, show/hide based on menu state.
  
            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div id="profile_icon" class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
           
            <a href="userprofile" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
            <a href="out" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Mobile menu, show/hide based on menu state. -->
  <div id="db-title" class="hidden sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a href="spc" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">SPC</a>
      <a href="topsis" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Topsis</a>
      <a href="user" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Dashboard</a>
      <a href="quiz" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Risk Calculator</a>
      <a href="feature" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Financial Assistant</a>
    </div>
  </div>
  </nav>





  <div class="mt-4 flex justify-center items-center background-image: linear-gradient(to right, #ff80b5, #9089fc) ">
    <div class="relative flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 justify-center w-screen">
      
      <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 z-10 translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
        <div class="aspect-[577/310] w-max bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
      </div>

      
      <div class="flex flex-wrap justify-center gap-4">
      
        <a href="sip" id="addHeadingButton" class="w-24 md:w-24 lg:w-32 xl:w-40 inline-flex items-center justify-center rounded-md bg-[#1f2937] hover:bg-gray-100 hover:text-[#1f2937] px-4 py-2 text-sm md:text-base font-medium text-gray-300 ring-1 ring-inset ring-gray-900/20 transition duration-300 ease-in-out">SIP Cal.</a>
        
       
        <a href="lumpsum" class="w-24 md:w-32 lg:w-40 inline-flex items-center justify-center rounded-md bg-[#1f2937] hover:bg-gray-100 hover:text-[#1f2937] px-4 md:px-6 py-2 md:py-3 text-sm md:text-base font-medium text-gray-300 ring-1 ring-inset ring-gray-900/10 transition duration-300 ease-in-out">Lumpsum Cal.</a>
        <a href="ppf" class="w-24 md:w-32 lg:w-40 inline-flex items-center justify-center rounded-md bg-[#1f2937] hover:bg-gray-100 hover:text-[#1f2937] px-4 md:px-6 py-2 md:py-3 text-sm md:text-base font-medium text-gray-300 ring-1 ring-inset ring-gray-900/10 transition duration-300 ease-in-out">PPF Cal.</a>
        <a href="mfr" class="w-24 md:w-32 lg:w-40 inline-flex items-center justify-center rounded-md bg-[#1f2937] hover:bg-gray-100 hover:text-[#1f2937] px-4 md:px-6 py-2 md:py-3 text-sm md:text-base font-medium text-gray-300 ring-1 ring-inset ring-gray-900/10 transition duration-300 ease-in-out">MFR Cal.</a>
        <a href="swp" class="w-24 md:w-32 lg:w-40 inline-flex items-center justify-center rounded-md bg-[#1f2937] hover:bg-gray-100 hover:text-[#1f2937] px-4 md:px-6 py-2 md:py-3 text-sm md:text-base font-medium text-gray-300 ring-1 ring-inset ring-gray-900/10 transition duration-300 ease-in-out">SWP Cal.</a>
        <a href="sukanya" class="w-24 md:w-32 lg:w-40 inline-flex items-center justify-center rounded-md bg-[#1f2937] hover:bg-gray-100 hover:text-[#1f2937] px-4 md:px-6 py-2 md:py-3 text-sm md:text-base font-medium text-gray-300 ring-1 ring-inset ring-gray-900/10 transition duration-300 ease-in-out">Sukanya Cal.</a>
      </div>
      
    </div>
  </div>
  <div class="bg-gray-800 mt-5 text-white py-10">
    <h1 class="text-3xl md:text-5xl font-bold text-center">Systematic Withdrawal Plan</h1>  
  </div>

<div class="flex items-center mt-20 w-full justify-center md:justify-start md:pl-20 lg:pl-40">
  <div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl sm:text-3xl font-semibold mb-6">Investment Calculator</h2>
    <form class="space-y-4" action="sip" method="POST">
        {% csrf_token%}
      <div>
        <label for="monthly-investment" class="block text-sm font-medium text-gray-800">Total Investment</label>
        <input id="monthly-investment" name="monthly-investment" type="number" step="0.01" required class=" mt-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
      
      <div>
        <label for="expected-return-rate" class="block text-sm font-medium text-gray-800">Withdrawal Per Month</label>
        <input id="expected-return-rate" name="expected-return-rate" type="number" step="0.01" required class="mt-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>

      <div>
        <label for="expected-return-rate" class="block text-sm font-medium text-gray-800">Expected Return Rate (p.a)</label>
        <input id="expected-return-rate" name="expected-return-rate" type="number" step="0.01" required class="mt-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>

      <div>
        <label for="time-period" class="block text-sm font-medium text-gray-800">Time Period (Years)</label>
        <input id="time-period" name="time-period" type="number" step="1" required class="mt-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>

      <div class="flex justify-center">
        <button type="submit" class="font-semibold mt-4 block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-indigo-200 hover:bg-indigo-400 transition-colors duration-300">Calculate</button>
    </div>

    </form>

  </div>
  {% if result %}
  <h1>{{result}}</h1>
  <canvas id="myPieChart"></canvas>
  <script>
    const ctx = document.getElementById('myPieChart').getContext('2d');
    const value1 = "{{result}}"; // Set your first value
    const value2 = 20; // Set your second value

    const data = {
      labels: ['Value 1', 'Value 2'],
      datasets: [{
        data: [value1, value2],
        backgroundColor: ['#FF6347', '#66BB6A']
      }]
    };

    const options = {
      responsive: true,
      maintainAspectRatio: false
    };

    const myPieChart = new Chart(ctx, {
      type: 'pie',
      data: data,
      options: options
    });
  </script>
  {% endif %}
</div>


<!-- About SWP Calculator -->
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">What is SWP?
        <!-- <br class="hidden lg:inline-block">readymade gluten -->
      </h1>
      <p class="text-justify text-xl mb-8 leading-relaxed text-zoom">SWP or systematic withdrawal plan is a mutual fund investment plan, through which investors can withdraw fixed amounts at regular intervals, for example – monthly/ quarterly/ yearly from the investment they have made in any mutual fund scheme. SWP generates cash-flows (income) by redeeming units from the scheme at the specified interval. The number of units redeemed to generate this cash-flow depends on SWP amount and the scheme NAV on the withdrawal date.</p>
      <div class="flex justify-center gray-100 border-0 py-2 px-6 focus:out">
         
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="{% static 'SWP.jpg' %}">
    </div>
  </div>
</section>

</body>
</html>